# Import Data; Preliminary Cleaning & Preprocessing

### Import & Explore Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_info_columns', 1000000000000)
pd.set_option('display.max_info_rows', 1000000000000000)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
loan_data_backup = pd.read_csv('C:/Users/marcu/Desktop/Personal/365 Data Science/Credit risk modeling/Datasets/Loan_status_2007-2020Q3.gzip')
loan_data_backup.head()

C:\Users\marcu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,48,58,117,127,128,129,132,133,134,137) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,0,1077501,5000.00000,5000.00000,4975.00000,36 months,10.65%,162.87000,B,B2,NaN,10+ years,RENT,24000.00000,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65000,0.00000,Jan-1985,735.00000,739.00000,1.00000,NaN,NaN,3.00000,0.00000,13648.00000,83.7%,9.00000,f,0.00000,0.00000,5863.15519,5833.84000,5000.00000,863.16000,0.00000,0.00000,0.00000,Jan-2015,171.62000,NaN,May-2020,704.00000,700.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,1,1077430,2500.00000,2500.00000,2500.00000,60 months,15.27%,59.83000,C,C4,Ryder,< 1 year,RENT,30000.00000,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00000,0.00000,Apr-1999,740.00000,744.00000,5.00000,NaN,NaN,3.00000,0.00000,1687.00000,9.4%,4.00000,f,0.00000,0.00000,1014.53000,1014.53000,456.46000,435.17000,0.00000,122.90000,1.11000,Apr-2013,119.66000,NaN,Oct-2016,499.00000,0.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2,1077175,2400.00000,2400.00000,2400.00000,36 months,15.96%,84.33000,C,C5,NaN,10+ years,RENT,12252.00000,Not Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72000,0.00000,Nov-2001,735.00000,739.00000,2.00000,NaN,NaN,2.00000,0.00000,2956.00000,98.5%,10.00000,f,0.00000,0.00000,3005.66684,3005.67000,2400.00000,605.67000,0.00000,0.00000,0.00000,Jun-2014,649.91000,NaN,Jun-2017,739.00000,735.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,3,1076863,10000.00000,10000.00000,10000.00000,36 months,13.49%,339.31000,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.00000,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00000,0.00000,Feb-1996,690.00000,694.00000,1.00000,35.00000,NaN,10.00000,0.00000,5598.00000,21%,37.00000,f,0.00000,0.00000,12231.89000,12231.89000,10000.00000,2214.92000,16.97000,0.00000,0.00000,Jan-2015,357.48000,NaN,Apr-2016,604.00000,600.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,4,1075358,3000.00000,3000.00000,3000.00000,60 months,12.69%,67.79000,B,B5,University Medical Group,1 year,RENT,80000.00000,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94000,0.00000,Jan-1996,695.00000,699.00000,0.00000,38.00000,NaN,15.00000,0.00000,27783.00000,53.9%,38.00000,f,0.00000,0.00000,4066.90816,4066.91000,3000.00000,1066.91000,0.00000,0.00000,0.00000,Jan-2017,67.30000,NaN,Apr-2018,684.00000,680.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [5]:
loan_data_backup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Data columns (total 142 columns):
 #    Column                                      Non-Null Count    Dtype
---   ------                                      --------------    -----
 0    Unnamed: 0                                  2925493 non-null  int64
 1    id                                          2925493 non-null  object
 2    loan_amnt                                   2925492 non-null  float64
 3    funded_amnt                                 2925492 non-null  float64
 4    funded_amnt_inv                             2925492 non-null  float64
 5    term                                        2925492 non-null  object
 6    int_rate                                    2925492 non-null  object
 7    installment                                 2925492 non-null  float64
 8    grade                                       2925492 non-null  object
 9    sub_grade                                   2925492 non-null  object
 10   emp_title                                   2661406 non-null  object
 11   emp_length                                  2720272 non-null  object
 12   home_ownership                              2925492 non-null  object
 13   annual_inc                                  2925488 non-null  float64
 14   verification_status                         2925492 non-null  object
 15   issue_d                                     2925492 non-null  object
 16   loan_status                                 2925492 non-null  object
 17   pymnt_plan                                  2925492 non-null  object
 18   url                                         2925492 non-null  object
 19   purpose                                     2925492 non-null  object
 20   title                                       2902167 non-null  object
 21   zip_code                                    2925491 non-null  object
 22   addr_state                                  2925492 non-null  object
 23   dti                                         2922384 non-null  float64
 24   delinq_2yrs                                 2925463 non-null  float64
 25   earliest_cr_line                            2925463 non-null  object
 26   fico_range_low                              2925492 non-null  float64
 27   fico_range_high                             2925492 non-null  float64
 28   inq_last_6mths                              2925462 non-null  float64
 29   mths_since_last_delinq                      1388990 non-null  float64
 30   mths_since_last_record                      427448 non-null   float64
 31   open_acc                                    2925463 non-null  float64
 32   pub_rec                                     2925463 non-null  float64
 33   revol_bal                                   2925492 non-null  float64
 34   revol_util                                  2922832 non-null  object
 35   total_acc                                   2925463 non-null  float64
 36   initial_list_status                         2925492 non-null  object
 37   out_prncp                                   2925492 non-null  float64
 38   out_prncp_inv                               2925492 non-null  float64
 39   total_pymnt                                 2925492 non-null  float64
 40   total_pymnt_inv                             2925492 non-null  float64
 41   total_rec_prncp                             2925492 non-null  float64
 42   total_rec_int                               2925492 non-null  float64
 43   total_rec_late_fee                          2925492 non-null  float64
 44   recoveries                                  2925492 non-null  float64
 45   collection_recovery_fee                     2925492 non-null  float64
 46   last_pymnt_d                                2920571 non-null  object
 47   last_pymnt_amnt                             2925492 non-null  float64
 48   next_pymnt_d                                1065161 non-null  object
 49   last_credit_pull_d                          2925417 non-null  object
 50   last_fico_range_high                        2925492 non-null  float64
 51   last_fico_range_low                         2925492 non-null  float64
 52   collections_12_mths_ex_med                  2925347 non-null  float64
 53   mths_since_last_major_derog                 722917 non-null   float64
 54   policy_code                                 2925492 non-null  float64
 55   application_type                            2925492 non-null  object
 56   annual_inc_joint                            210513 non-null   float64
 57   dti_joint                                   210509 non-null   float64
 58   verification_status_joint                   194787 non-null   object
 59   acc_now_delinq                              2925463 non-null  float64
 60   tot_coll_amt                                2855216 non-null  float64
 61   tot_cur_bal                                 2855216 non-null  float64
 62   open_acc_6m                                 2059362 non-null  float64
 63   open_act_il                                 2059363 non-null  float64
 64   open_il_12m                                 2059363 non-null  float64
 65   open_il_24m                                 2059363 non-null  float64
 66   mths_since_rcnt_il                          1998963 non-null  float64
 67   total_bal_il                                2059363 non-null  float64
 68   il_util                                     1768344 non-null  float64
 69   open_rv_12m                                 2059363 non-null  float64
 70   open_rv_24m                                 2059363 non-null  float64
 71   max_bal_bc                                  2059363 non-null  float64
 72   all_util                                    2059007 non-null  float64
 73   total_rev_hi_lim                            2855216 non-null  float64
 74   inq_fi                                      2059363 non-null  float64
 75   total_cu_tl                                 2059362 non-null  float64
 76   inq_last_12m                                2059362 non-null  float64
 77   acc_open_past_24mths                        2875462 non-null  float64
 78   avg_cur_bal                                 2855104 non-null  float64
 79   bc_open_to_buy                              2842824 non-null  float64
 80   bc_util                                     2841351 non-null  float64
 81   chargeoff_within_12_mths                    2925347 non-null  float64
 82   delinq_amnt                                 2925463 non-null  float64
 83   mo_sin_old_il_acct                          2769816 non-null  float64
 84   mo_sin_old_rev_tl_op                        2855215 non-null  float64
 85   mo_sin_rcnt_rev_tl_op                       2855215 non-null  float64
 86   mo_sin_rcnt_tl                              2855216 non-null  float64
 87   mort_acc                                    2875462 non-null  float64
 88   mths_since_recent_bc                        2844791 non-null  float64
 89   mths_since_recent_bc_dlq                    650642 non-null   float64
 90   mths_since_recent_inq                       2553587 non-null  float64
 91   mths_since_recent_revol_delinq              930606 non-null   float64
 92   num_accts_ever_120_pd                       2855216 non-null  float64
 93   num_actv_bc_tl                              2855216 non-null  float64
 94   num_actv_rev_tl                             2855216 non-null  float64
 95   num_bc_sats                                 2866902 non-null  float64
 96   num_bc_tl                                   2855216 non-null  float64
 97   num_il_tl                                   2855216 non-null  float64
 98   num_op_rev_tl                               2855216 non-null  float64
 99   num_rev_accts                               2855215 non-null  float64
 100  num_rev_tl_bal_gt_0                         2855216 non-null  float64
 101  num_sats                                    2866902 non-null  float64
 102  num_tl_120dpd_2m                            2763806 non-null  float64
 103  num_tl_30dpd                                2855216 non-null  float64
 104  num_tl_90g_dpd_24m                          2855216 non-null  float64
 105  num_tl_op_past_12m                          2855216 non-null  float64
 106  pct_tl_nvr_dlq                              2855061 non-null  float64
 107  percent_bc_gt_75                            2842343 non-null  float64
 108  pub_rec_bankruptcies                        2924127 non-null  float64
 109  tax_liens                                   2925387 non-null  float64
 110  tot_hi_cred_lim                             2855216 non-null  float64
 111  total_bal_ex_mort                           2875462 non-null  float64
 112  total_bc_limit                              2875462 non-null  float64
 113  total_il_high_credit_limit                  2855216 non-null  float64
 114  revol_bal_joint                             197823 non-null   float64
 115  sec_app_fico_range_low                      197824 non-null   float64
 116  sec_app_fico_range_high                     197824 non-null   float64
 117  sec_app_earliest_cr_line                    197824 non-null   object
 118  sec_app_inq_last_6mths                      197824 non-null   float64
 119  sec_app_mort_acc                            197824 non-null   float64
 120  sec_app_open_acc                            197824 non-null   float64
 121  sec_app_revol_util                          194587 non-null   float64
 122  sec_app_open_act_il                         197824 non-null   float64
 123  sec_app_num_rev_accts                       197824 non-null   float64
 124  sec_app_chargeoff_within_12_mths            197824 non-null   float64
 125  sec_app_collections_12_mths_ex_med          197824 non-null   float64
 126  hardship_flag                               2887057 non-null  object
 127  hardship_type                               143638 non-null   object
 128  hardship_reason                             143632 non-null   object
 129  hardship_status                             143635 non-null   object
 130  deferral_term                               143638 non-null   float64
 131  hardship_amount                             182076 non-null   float64
 132  hardship_start_date                         143638 non-null   object
 133  hardship_end_date                           143638 non-null   object
 134  payment_plan_start_date                     143638 non-null   object
 135  hardship_length                             143638 non-null   float64
 136  hardship_dpd                                143637 non-null   float64
 137  hardship_loan_status                        143411 non-null   object
 138  orig_projected_additional_accrued_interest  179240 non-null   float64
 139  hardship_payoff_balance_amount              182076 non-null   float64
 140  hardship_last_payment_amount                182076 non-null   float64
 141  debt_settlement_flag                        2925492 non-null  object
dtypes: float64(106), int64(1), object(35)
memory usage: 3.1+ GB

In [6]:
loan_data_backup.describe(include='all')

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
count,2925493.00000,2925493.00000,2925492.00000,2925492.00000,2925492.00000,2925492,2925492,2925492.00000,2925492,2925492,2661406,2720272,2925492,2925488.00000,2925492,2925492,2925492,2925492,2925492,2925492,2902167,2925491,2925492,2922384.00000,2925463.00000,2925463,2925492.00000,2925492.00000,2925462.00000,1388990.00000,427448.00000,2925463.00000,2925463.00000,2925492.00000,2922832,2925463.00000,2925492,2925492.00000,2925492.00000,2925492.00000,2925492.00000,2925492.00000,2925492.00000,2925492.00000,2925492.00000,2925492.00000,2920571,2925492.00000,1065161,2925417,2925492.00000,2925492.00000,2925347.00000,722917.00000,2925492.00000,2925492,210513.00000,210509.00000,194787,2925463.00000,2855216.00000,2855216.00000,2059362.00000,2059363.00000,2059363.00000,2059363.00000,1998963.00000,2059363.00000,1768344.00000,2059363.00000,2059363.00000,2059363.00000,2059007.00000,2855216.00000,2059363.00000,2059362.00000,2059362.00000,2875462.00000,2855104.00000,2842824.00000,2841351.00000,2925347.00000,2925463.00000,2769816.00000,2855215.00000,2855215.00000,2855216.00000,2875462.00000,2844791.00000,650642.00000,2553587.00000,930606.00000,2855216.00000,2855216.00000,2855216.00000,2866902.00000,2855216.00000,2855216.00000,2855216.00000,2855215.00000,2855216.00000,2866902.00000,2763806.00000,2855216.00000,2855216.00000,2855216.00000,2855061.00000,2842343.00000,2924127.00000,2925387.00000,2855216.00000,2875462.00000,2875462.00000,2855216.00000,197823.00000,197824.00000,197824.00000,197824,197824.00000,197824.00000,197824.00000,194587.00000,197824.00000,197824.00000,197824.00000,197824.00000,2887057,143638,143632,143635,143638.00000,182076.00000,143638,143638,143638,143638.00000,143637.00000,143411,179240.00000,182076.00000,182076.00000,2925492
unique,NaN,2925493.00000,NaN,NaN,NaN,2,704,NaN,7,35,590413,11,6,NaN,3,160,10,1,2925492,14,63155,962,51,NaN,NaN,777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1443,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157,NaN,111,159,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,10,17,4,NaN,NaN,46,48,46,NaN,NaN,14,NaN,NaN,NaN,2
top,NaN,75497472.00000,NaN,NaN,NaN,36 months,8.19%,NaN,B,B4,Teacher,10+ years,MORTGAGE,NaN,Source Verified,Mar-2016,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,112xx,CA,NaN,NaN,Sep-2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,NaN,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May-2020,NaN,Jun-2020,May-2020,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,Not Verified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug-2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,CVD19SKIP,INCOMECURT,ACTIVE,NaN,NaN,Apr-2020,Jun-2020,Apr-2020,NaN,NaN,ACTIVE,NaN,NaN,NaN,N
freq,NaN,1.00000,NaN,NaN,NaN,2060077,68199,NaN,857573,185188,50103,946268,1437859,NaN,1143247,61992,1497783,2925492,1,1638058,1513474,30473,404686,NaN,NaN,20089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18856,NaN,2139434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,977273,NaN,899364,1554414,NaN,NaN,NaN,NaN,NaN,2714979,NaN,NaN,98385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2765510,130215,84301,121543,NaN,NaN,104377,79426,77774,NaN,NaN,116333,NaN,NaN,NaN,2874021
mean,86974.19494,NaN,15358.77511,15354.70491,15340.04629,NaN,NaN,452.39136,NaN,NaN,NaN,NaN,NaN,79937.27402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.29648,0.28970,NaN,700.51103,704.51124,0.55421,34.94960,74.70602,11.67616,0.17628,16964.84093,NaN,24.01835,NaN,4038.69655,4038.12395,12574.55047,12559.75503,9917.80224,2484.79690,1.76455,170.18675,29.09949,NaN,3479.50739,NaN,NaN,690.37342,677.84555,0.01768,44.60165,1.00000,NaN,130581.83457,19.42112,NaN,0.00323,216.88272,145377.33976,0.93124,2.82679,0.69888,1.60394,20.40308,36835.36611,68.96371,1.25381,2.64574,6018.20381,56.27866,36338.64316,1.07114,1.51779,2.00161,4.49098,13712.20975,12682.04432,55.92247,0.00801,9.90750,125.90263,179.69741,14.46025,8.34501,1.51234,25.06979,39.32310,7.10800,36.06959,0.48806,3.70698,5.60719,4.85565,7.62120,8.53187,8.26874,13.77991,5.56351,11.68603,0.00049,0.00217,0.07688,2.07141,94.29818,40.07288,0.12268,0.03614,183243.62377,52657.69850,24764.71341,45431.61071,36444.97306,673.50213,677.50215,NaN,0.62598,1.57998,11.57839,56.57401,3.06064,12.54440,0.03833,0.06754,NaN,NaN,NaN,NaN,2.23343,119.88740,NaN,NaN,NaN,2.23343,2.32315,NaN,369.36746,11993.12893,745.50487,NaN
std,80488.42360,NaN,9478.38345,9477.14469,9480.63450,NaN,NaN,272.94785,NaN,NaN,NaN,NaN,NaN,111747.60871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.71977,0.84368,NaN,33.76565,33.76653,0.85998,21.89539,26.45160,5.73331,0.52438,22996.21365,NaN,12.07625,NaN,7485.05828,7484.51312,10322.39314,10319.03306,8655.83992,2761.68581,13.86052,845.91065,149.75497,NaN,6133.99908,NaN,NaN,74.78068,114.03668,0.14776,21.59621,0.00000,NaN,84231.35866,7.96712,NaN,0.06143,7496.92784,163934.81497,1.13914,2.99916,0.93738,1.58457,25.02035,45886.11499,23.59473,1.48800,2.55213,5890.12461,20.75949,37309.89850,1.49585,2.71479,2.35456,3.16758,16706.36309,17849.55419,28.80611,0.10191,648.05906,54.41936,97.83662,18.01500,9.18166,1.86978,32.62410,22.55956,5.98227,22.26555,1.35677,2.37252,3.40856,3.10220,4.67729,7.41793,4.76126,8.02341,3.33487,5.73675,0.02376,0.04935,0.47579,1.84183,8.97204,36.00140,0.35314,0.33245,185214.11826,51821.53909,24366.50293,46703.47258,30953.48281,44.38568,44.38576,NaN,0.98149,1.79731,6.68960,25.82794,3.25405,8.20698,0.36239,0.37184,NaN,NaN,NaN,NaN,0.56569,247.52298,NaN,NaN,NaN,0.56569,6.17945,NaN,468.69653,9162.90272,2095.31660,NaN
min,0.00000,NaN,500.00000,500.00000,0.00000,NaN,NaN,4.93000,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.00000,0.00000,NaN,610.00000,614.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,1.00000,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,-0.00000,0.00000,0.00000,NaN,-21033.40000,NaN,NaN,0.00000,0.00000,0.00000,0.00000,1.00000,NaN,5693.51000,0.00000,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,540.00000,544.00000,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,NaN,0.00000,0.00000,NaN,NaN,NaN,0.00000,0.00000,NaN,0.00000,0.00000,0.00000,NaN
25%,32841.00000,NaN,8000.00000,8000.00000,8000.00000,NaN,NaN,253.50000,NaN,NaN,NaN,NaN,NaN,47000.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.08000,0.00000,NaN,675.00000,679.00000,0.00000,17.00000,57.00000,8.00000,0.00000,5993.00000,NaN,15.00000,NaN,0.00000,0.00000,4760.81750,4749.38000,3151.63750,727.87000,0.00000,0.00000,0.00000,NaN,264.26000,NaN,NaN,654.00000,650.00000,0.00000,27.00000,1.00000,NaN,86000.00000,13.57000,NaN,0.00000,0.00000,29577.00000,0.00000,1.00000,0.00000,0.00000,7.00000,9141.00000,55.00000,0.00000,1.00000,2344.00000,42.00000,15400.00000,0.00000,0.00000,0.00000,2.00000,3113.00000,2000.00000,32.80000,0.00000,0.00000,93.00000,112.00000,4.00000,3.00000,0.00000,6.00000,21.00000,2.00000,18.00000,0.00000,2.00000,3.00000,3.00000,4.00000,3.00000,5.00000,8.00000,3.00000,8.00000,0.00000,0.00000,0.00000,1.00000,91.70000,0.00000,0.00000,0.00000,52586.00000,21339.00000,8900.00000,15500.00000,16176.00000,645.00000,649.00000,NaN,0.00000,0.00000,7.00000,37.60000,1.00000,7.00000,0.00000,0.00000,NaN,NaN,NaN,NaN,2.00000,0.00000,NaN,NaN,NaN,2.00000,0.00000,NaN,104.28000,4749.14250,259.04000,NaN
50%,68925.00000,NaN,13000.00000,13000.00000,13000.00000,NaN,NaN,382.30000,NaN,NaN,NaN,NaN,NaN,66000.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.10000,0.00000,NaN,695.00000,699.00000,0.00000,32.00000,77.00000,11.00000,0.00000,11493.00000,NaN,22.00000,NaN,0.00000,0.00000,9788.27196,9773.21000,7417.35000,1548.86000,0.00000,0.00000,0.00000,NaN,583.79000,NaN,NaN,699.00000,695.00000,0.00000,45.00000,1.00000,NaN,115000.00000,19.00000,NaN,0.00000,0.00000,80550.00000,1.00000,2.00000,0.00000,1.00000,13.00000,23943.00000,72.00000,1.00000,2.00000,4567.00000,57.00000,26800.00000,1.00000,0.00000,1.00000,4.00000,7407.00000,6263.00000,57.40000,0.00000,0.00000,130.00000,162.00000,9.00000,6.00000,1.00000,14.00000,37.00000,6.00000,33.00000,0.00000,3.00000,5.00000,4.00000,7.00000,7.00000,7.00000,12.00000,5.00000,11.00000,0.00000,0.00000,0.00000,2.00000,100.00000,33.30000,0.00000,0.00000,118100.00000,38838.00000,17500.00000,33939.00000,28573.00000,670.00000,674.00000,NaN,0.00000,1.00000,10.00000,58.30000,2.00000,11.00000,0.00000,0.00000,NaN,NaN,NaN,NaN,2.00000,0.00000,NaN,NaN,NaN,2.00000,0.00000,NaN,249.47442,9967.16000,423.20000,NaN
75%,107294.00000,NaN,20000.00000,20000.00000,20000.00000,NaN,NaN,603.92000,NaN,NaN,NaN,NaN,NaN,95000.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.88000,0.00000,NaN,720.00000,724.00000,1.00000,51.00000,96.00000,15.00000,0.00000,20644.00000,NaN,31.00000,NaN,5339.52000,5338.06250,17601.98502,17583.97250,14533.01500,3188.78000,0.00000,0.00000,0.00000,NaN,3914.90250,NaN,NaN,739.00000,735.00000,0.00000,62.00000,1.00000,NaN,155000.00000,24.93000,NaN,0.00000,0.00000,217668.00000,1.00000,3.00000,1.00000,2.00000,23.00000,47656.00000,85.00000,2.00000,4.00000,7912.00000,71.00000,45600.00000,2.00000,2.00000,3.00000,6.00000,18992.00000,16130.00000,81.20000,0.00000,0.00000,155.00000,230.00000,18.00000,11.00000,2.00000,30.00000,57.00000,11.00000,51.00000,0.00000,5.00000,7.00000,6.00000,10.00000,11.00000,11.00000,18.00000,7.00000,15.00000,0.00000,0.00000,0.00000,3.00000,100.00000,66.70000,0.00000,0.00000,264775.25000,66449.00000,32500.00000,61015.00000,47436.00000,700.00000,704.00000,NaN,1.00000,3.00000,15.00000,77.20000,4.00000,17.00000,0.00000,0.00000,NaN,NaN,NaN,NaN,2.00000,101.94000,NaN,NaN,NaN,2.00000,0.00000,NaN,482.53250,17640.67000,679.58000,NaN
max,421094.00000,NaN,40000.00000,40000.00000,40000.00000,NaN,NaN,1719.83000,NaN,NaN,NaN,NaN,NaN,110000000.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999.00000,58.00000,NaN,845.00000,850.00000,33.00000,226.00000,129.00000,104.00000,86.00000,2904836.00000,NaN,176.00000,NaN,40000.00000,40000.00000,67174.38181,67174.38000,40000.00000,32589.80000,1598.52000,41803.25000,7524.58500,NaN,42192.05000,NaN,NaN,850.00000,845.00000,20.00000,226.00000,1.00000,NaN,9706945.00000,69.49000,NaN,14.00000,9152545.00000,9971659.00000,18.00000,78.00000,25.00000,51.00000,511.00000,1990176.00000,1000.00000,28.00000,60.00000,1170668.00000,239.00000,9999999.00000,48.00000,111.00000,67.00000,64.00000,958084.00000,781431.00000,339.60000,10.00000,249925.00000,999.00000,999.00000,564.00000,382.00000,94.00000,675.00000,202.00000,25.00000,212.00000,58.00000,50.00000,72.00000,77.00000,89.00000,159.00000,97.00000,151.00000,65.00000,104.00000,7.00000,4.00000,58.00000,32.00000,100.00000,100.00000,12.00000,85.00000,9999999.00000,3408095.00000,1569000.00000,2118996.00000,1110019.00000,845.00000,850.00000,NaN,6.00000,34.00000,85.00000,434.30000,46.00000,121.00000,21.00000,23.00000,NaN,NaN,NaN,NaN,4.00000,2797.50000,NaN,NaN,NaN,4.00000,82.00000,NaN,11581.82000,42135.55000,40270.98000,NaN

In [7]:
# Choosing only relevant variables
loan_data = loan_data_backup[['emp_length', 'earliest_cr_line', 'term', 'issue_d', 'grade', 'sub_grade', 'home_ownership', 'verification_status', 'loan_status', 'purpose', 'addr_state', 'initial_list_status', 'total_rev_hi_lim', 'funded_amnt', 'annual_inc', 'acc_now_delinq', 'total_acc', 'pub_rec', 'open_acc', 'inq_last_6mths', 'delinq_2yrs', 'int_rate', 'installment', 'mths_since_last_delinq', 'dti', 'mths_since_last_record']]

In [8]:
loan_data.describe(include='all')

,emp_length,earliest_cr_line,term,issue_d,grade,sub_grade,home_ownership,verification_status,loan_status,purpose,addr_state,initial_list_status,total_rev_hi_lim,funded_amnt,annual_inc,acc_now_delinq,total_acc,pub_rec,open_acc,inq_last_6mths,delinq_2yrs,int_rate,installment,mths_since_last_delinq,dti,mths_since_last_record
count,2720272,2925463,2925492,2925492,2925492,2925492,2925492,2925492,2925492,2925492,2925492,2925492,2855216.00000,2925492.00000,2925488.00000,2925463.00000,2925463.00000,2925463.00000,2925463.00000,2925462.00000,2925463.00000,2925492,2925492.00000,1388990.00000,2922384.00000,427448.00000
unique,11,777,2,160,7,35,6,3,10,14,51,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,704,NaN,NaN,NaN,NaN
top,10+ years,Sep-2005,36 months,Mar-2016,B,B4,MORTGAGE,Source Verified,Fully Paid,debt_consolidation,CA,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.19%,NaN,NaN,NaN,NaN
freq,946268,20089,2060077,61992,857573,185188,1437859,1143247,1497783,1638058,404686,2139434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68199,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36338.64316,15354.70491,79937.27402,0.00323,24.01835,0.17628,11.67616,0.55421,0.28970,NaN,452.39136,34.94960,19.29648,74.70602
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37309.89850,9477.14469,111747.60871,0.06143,12.07625,0.52438,5.73331,0.85998,0.84368,NaN,272.94785,21.89539,15.71977,26.45160
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,500.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,NaN,4.93000,0.00000,-1.00000,0.00000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15400.00000,8000.00000,47000.00000,0.00000,15.00000,0.00000,8.00000,0.00000,0.00000,NaN,253.50000,17.00000,12.08000,57.00000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26800.00000,13000.00000,66000.00000,0.00000,22.00000,0.00000,11.00000,0.00000,0.00000,NaN,382.30000,32.00000,18.10000,77.00000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45600.00000,20000.00000,95000.00000,0.00000,31.00000,0.00000,15.00000,1.00000,0.00000,NaN,603.92000,51.00000,24.88000,96.00000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999999.00000,40000.00000,110000000.00000,14.00000,176.00000,86.00000,104.00000,33.00000,58.00000,NaN,1719.83000,226.00000,999.00000,129.00000

In [9]:
loan_data.head()

,emp_length,earliest_cr_line,term,issue_d,grade,sub_grade,home_ownership,verification_status,loan_status,purpose,addr_state,initial_list_status,total_rev_hi_lim,funded_amnt,annual_inc,acc_now_delinq,total_acc,pub_rec,open_acc,inq_last_6mths,delinq_2yrs,int_rate,installment,mths_since_last_delinq,dti,mths_since_last_record
0,10+ years,Jan-1985,36 months,Dec-2011,B,B2,RENT,Verified,Fully Paid,credit_card,AZ,f,NaN,5000.00000,24000.00000,0.00000,9.00000,0.00000,3.00000,1.00000,0.00000,10.65%,162.87000,NaN,27.65000,NaN
1,< 1 year,Apr-1999,60 months,Dec-2011,C,C4,RENT,Source Verified,Charged Off,car,GA,f,NaN,2500.00000,30000.00000,0.00000,4.00000,0.00000,3.00000,5.00000,0.00000,15.27%,59.83000,NaN,1.00000,NaN
2,10+ years,Nov-2001,36 months,Dec-2011,C,C5,RENT,Not Verified,Fully Paid,small_business,IL,f,NaN,2400.00000,12252.00000,0.00000,10.00000,0.00000,2.00000,2.00000,0.00000,15.96%,84.33000,NaN,8.72000,NaN
3,10+ years,Feb-1996,36 months,Dec-2011,C,C1,RENT,Source Verified,Fully Paid,other,CA,f,NaN,10000.00000,49200.00000,0.00000,37.00000,0.00000,10.00000,1.00000,0.00000,13.49%,339.31000,35.00000,20.00000,NaN
4,1 year,Jan-1996,60 months,Dec-2011,B,B5,RENT,Source Verified,Fully Paid,other,OR,f,NaN,3000.00000,80000.00000,0.00000,38.00000,0.00000,15.00000,0.00000,0.00000,12.69%,67.79000,38.00000,17.94000,NaN

In [10]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925493 entries, 0 to 2925492
Data columns (total 26 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   emp_length              2720272 non-null  object
 1   earliest_cr_line        2925463 non-null  object
 2   term                    2925492 non-null  object
 3   issue_d                 2925492 non-null  object
 4   grade                   2925492 non-null  object
 5   sub_grade               2925492 non-null  object
 6   home_ownership          2925492 non-null  object
 7   verification_status     2925492 non-null  object
 8   loan_status             2925492 non-null  object
 9   purpose                 2925492 non-null  object
 10  addr_state              2925492 non-null  object
 11  initial_list_status     2925492 non-null  object
 12  total_rev_hi_lim        2855216 non-null  float64
 13  funded_amnt             2925492 non-null  float64
 14  annual_inc              2925488 non-null  float64
 15  acc_now_delinq          2925463 non-null  float64
 16  total_acc               2925463 non-null  float64
 17  pub_rec                 2925463 non-null  float64
 18  open_acc                2925463 non-null  float64
 19  inq_last_6mths          2925462 non-null  float64
 20  delinq_2yrs             2925463 non-null  float64
 21  int_rate                2925492 non-null  object
 22  installment             2925492 non-null  float64
 23  mths_since_last_delinq  1388990 non-null  float64
 24  dti                     2922384 non-null  float64
 25  mths_since_last_record  427448 non-null   float64
dtypes: float64(13), object(13)
memory usage: 580.3+ MB

### General Preprocessing

In [11]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [12]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', '0')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')
loan_data['emp_length_int'].unique()

<ipython-input-12-2cb9ad106694>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')
<ipython-input-12-2cb9ad106694>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('\+ years', '')
<ipython-input-12-2cb9ad106694>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', '0')
<ipython-input-12-2cb9ad106694>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
<ipython-input-12-2cb9ad106694>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [13]:
loan_data['emp_length_int'].head(100)

0     10
1      0
2     10
3     10
4      1
5      3
6      8
7      9
8      4
9      0
10     5
11    10
12     0
13     3
14     3
15     0
16     4
17    10
18     1
19     6
20     3
21    10
22    10
23     5
24     1
25     2
26     9
27     2
28    10
29     0
30     7
31     5
32     2
33     2
34     7
35    10
36     2
37     1
38     1
39     1
40     4
41    10
42     9
43    10
44    10
45     6
46    10
47     6
48    10
49     5
50     8
51     9
52     0
53     4
54     1
55     7
56     7
57     0
58     2
59     1
60     0
61     6
62     0
63     0
64    10
65     7
66     5
67     4
68     4
69     2
70     5
71     5
72     1
73     3
74     0
75    10
76    10
77     0
78     1
79    10
80     3
81     2
82     6
83     4
84    10
85     2
86     4
87     0
88     9
89     4
90     0
91     3
92     3
93    10
94     4
95     6
96     4
97     7
98    10
99     0
Name: emp_length_int, dtype: object

In [14]:
type(loan_data['emp_length_int'][0])

str

In [15]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'], downcast='integer')

<ipython-input-15-5e26f344c5ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'], downcast='integer')

In [16]:
type(loan_data['emp_length_int'][0])

numpy.float64

In [17]:
loan_data['earliest_cr_line'].head(100)

0     Jan-1985
1     Apr-1999
2     Nov-2001
3     Feb-1996
4     Jan-1996
5     Nov-2004
6     Jul-2005
7     Jan-2007
8     Apr-2004
9     Sep-2004
10    Jan-1998
11    Oct-1989
12    Apr-2004
13    Jul-2003
14    May-1991
15    Sep-2007
16    Oct-1998
17    Aug-1993
18    Oct-2003
19    Jan-2001
20    Nov-1997
21    Feb-1983
22    Jul-1985
23    Apr-2003
24    Jun-2001
25    Feb-2002
26    Oct-2003
27    Oct-2003
28    Aug-1984
29    Nov-2006
30    Dec-1987
31    Nov-1981
32    Feb-1997
33    Apr-2005
34    Oct-2007
35    Jul-2005
36    Dec-2000
37    Nov-2004
38    Apr-2007
39    Dec-2001
40    Jan-2003
41    Mar-1994
42    Sep-1998
43    Jun-2004
44    Nov-1995
45    Jul-1999
46    Jun-1995
47    Nov-2006
48    Sep-1992
49    Jan-2002
50    Apr-1992
51    Jul-1999
52    Apr-2004
53    Oct-2006
54    May-2000
55    Sep-1998
56    Dec-1998
57    Dec-2004
58    Oct-2000
59    Apr-2007
60    May-2002
61    May-2006
62    Jul-2002
63    Jul-2006
64    May-1997
65    Oct-2005
66    Apr-1995
67    Oct-2002
68    Jan-2000
69    Jun-2004
70    Apr-2000
71    Dec-1994
72    Oct-2005
73    Sep-2005
74    Dec-1994
75    Dec-1984
76    Dec-1999
77    May-2000
78    Nov-2003
79    Jun-1989
80    Jun-2003
81    Jul-2006
82    Oct-1996
83    Oct-2000
84    May-2000
85    Oct-2002
86    Jul-2005
87    Feb-1983
88    Oct-1996
89    May-2003
90    Jun-2002
91    Oct-2000
92    Jun-2007
93    Sep-1998
94    Dec-1996
95    Feb-1984
96    Nov-2001
97    Sep-2002
98    Jan-1986
99    Nov-2004
Name: earliest_cr_line, dtype: object

In [18]:
type(loan_data['earliest_cr_line'][0])

str

In [19]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format='%b-%Y')
loan_data['earliest_cr_line_date'].head(100)

<ipython-input-19-6ce136934109>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format='%b-%Y')

0    1985-01-01
1    1999-04-01
2    2001-11-01
3    1996-02-01
4    1996-01-01
5    2004-11-01
6    2005-07-01
7    2007-01-01
8    2004-04-01
9    2004-09-01
10   1998-01-01
11   1989-10-01
12   2004-04-01
13   2003-07-01
14   1991-05-01
15   2007-09-01
16   1998-10-01
17   1993-08-01
18   2003-10-01
19   2001-01-01
20   1997-11-01
21   1983-02-01
22   1985-07-01
23   2003-04-01
24   2001-06-01
25   2002-02-01
26   2003-10-01
27   2003-10-01
28   1984-08-01
29   2006-11-01
30   1987-12-01
31   1981-11-01
32   1997-02-01
33   2005-04-01
34   2007-10-01
35   2005-07-01
36   2000-12-01
37   2004-11-01
38   2007-04-01
39   2001-12-01
40   2003-01-01
41   1994-03-01
42   1998-09-01
43   2004-06-01
44   1995-11-01
45   1999-07-01
46   1995-06-01
47   2006-11-01
48   1992-09-01
49   2002-01-01
50   1992-04-01
51   1999-07-01
52   2004-04-01
53   2006-10-01
54   2000-05-01
55   1998-09-01
56   1998-12-01
57   2004-12-01
58   2000-10-01
59   2007-04-01
60   2002-05-01
61   2006-05-01
62   2002-07-01
63   2006-07-01
64   1997-05-01
65   2005-10-01
66   1995-04-01
67   2002-10-01
68   2000-01-01
69   2004-06-01
70   2000-04-01
71   1994-12-01
72   2005-10-01
73   2005-09-01
74   1994-12-01
75   1984-12-01
76   1999-12-01
77   2000-05-01
78   2003-11-01
79   1989-06-01
80   2003-06-01
81   2006-07-01
82   1996-10-01
83   2000-10-01
84   2000-05-01
85   2002-10-01
86   2005-07-01
87   1983-02-01
88   1996-10-01
89   2003-05-01
90   2002-06-01
91   2000-10-01
92   2007-06-01
93   1998-09-01
94   1996-12-01
95   1984-02-01
96   2001-11-01
97   2002-09-01
98   1986-01-01
99   2004-11-01
Name: earliest_cr_line_date, dtype: datetime64[ns]

In [20]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2021-10-01') - loan_data['earliest_cr_line_date']) / np.timedelta64(1, 'M')))
loan_data['mths_since_earliest_cr_line'].describe()

<ipython-input-21-d16b9b748a5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2021-10-01') - loan_data['earliest_cr_line_date']) / np.timedelta64(1, 'M')))

count   2925463.00000
mean        252.23914
std          95.87000
min          51.00000
25%         188.00000
50%         237.00000
75%         303.00000
max        1063.00000
Name: mths_since_earliest_cr_line, dtype: float64

In [22]:
loan_data['term'].head(100)

0      36 months
1      60 months
2      36 months
3      36 months
4      60 months
5      36 months
6      60 months
7      36 months
8      60 months
9      60 months
10     60 months
11     36 months
12     36 months
13     36 months
14     36 months
15     36 months
16     36 months
17     36 months
18     36 months
19     36 months
20     60 months
21     36 months
22     36 months
23     36 months
24     36 months
25     36 months
26     36 months
27     60 months
28     36 months
29     36 months
30     36 months
31     36 months
32     60 months
33     36 months
34     36 months
35     36 months
36     36 months
37     36 months
38     36 months
39     60 months
40     36 months
41     36 months
42     36 months
43     36 months
44     36 months
45     36 months
46     36 months
47     36 months
48     36 months
49     36 months
50     36 months
51     36 months
52     36 months
53     36 months
54     36 months
55     60 months
56     60 months
57     36 months
58     36 months
59     36 months
60     60 months
61     60 months
62     60 months
63     36 months
64     60 months
65     36 months
66     60 months
67     36 months
68     60 months
69     36 months
70     60 months
71     36 months
72     36 months
73     36 months
74     36 months
75     36 months
76     36 months
77     60 months
78     36 months
79     60 months
80     60 months
81     36 months
82     36 months
83     36 months
84     36 months
85     36 months
86     60 months
87     60 months
88     36 months
89     36 months
90     36 months
91     36 months
92     60 months
93     36 months
94     36 months
95     60 months
96     60 months
97     60 months
98     36 months
99     60 months
Name: term, dtype: object

In [23]:
loan_data['term'].describe()

count        2925492
unique             2
top        36 months
freq         2060077
Name: term, dtype: object

In [24]:
loan_data['term_int'] = pd.to_numeric(loan_data['term'].str.replace(' months', ''))
loan_data['term_int'].head(100)

<ipython-input-24-71768a489bb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['term_int'] = pd.to_numeric(loan_data['term'].str.replace(' months', ''))

0    36.00000
1    60.00000
2    36.00000
3    36.00000
4    60.00000
5    36.00000
6    60.00000
7    36.00000
8    60.00000
9    60.00000
10   60.00000
11   36.00000
12   36.00000
13   36.00000
14   36.00000
15   36.00000
16   36.00000
17   36.00000
18   36.00000
19   36.00000
20   60.00000
21   36.00000
22   36.00000
23   36.00000
24   36.00000
25   36.00000
26   36.00000
27   60.00000
28   36.00000
29   36.00000
30   36.00000
31   36.00000
32   60.00000
33   36.00000
34   36.00000
35   36.00000
36   36.00000
37   36.00000
38   36.00000
39   60.00000
40   36.00000
41   36.00000
42   36.00000
43   36.00000
44   36.00000
45   36.00000
46   36.00000
47   36.00000
48   36.00000
49   36.00000
50   36.00000
51   36.00000
52   36.00000
53   36.00000
54   36.00000
55   60.00000
56   60.00000
57   36.00000
58   36.00000
59   36.00000
60   60.00000
61   60.00000
62   60.00000
63   36.00000
64   60.00000
65   36.00000
66   60.00000
67   36.00000
68   60.00000
69   36.00000
70   60.00000
71   36.00000
72   36.00000
73   36.00000
74   36.00000
75   36.00000
76   36.00000
77   60.00000
78   36.00000
79   60.00000
80   60.00000
81   36.00000
82   36.00000
83   36.00000
84   36.00000
85   36.00000
86   60.00000
87   60.00000
88   36.00000
89   36.00000
90   36.00000
91   36.00000
92   60.00000
93   36.00000
94   36.00000
95   60.00000
96   60.00000
97   60.00000
98   36.00000
99   60.00000
Name: term_int, dtype: float64

In [25]:
type(loan_data['term_int'][0])

numpy.float64

In [26]:
loan_data['issue_d'].head(50)

0     Dec-2011
1     Dec-2011
2     Dec-2011
3     Dec-2011
4     Dec-2011
5     Dec-2011
6     Dec-2011
7     Dec-2011
8     Dec-2011
9     Dec-2011
10    Dec-2011
11    Dec-2011
12    Dec-2011
13    Dec-2011
14    Dec-2011
15    Dec-2011
16    Dec-2011
17    Dec-2011
18    Dec-2011
19    Dec-2011
20    Dec-2011
21    Dec-2011
22    Dec-2011
23    Dec-2011
24    Dec-2011
25    Dec-2011
26    Dec-2011
27    Dec-2011
28    Dec-2011
29    Dec-2011
30    Dec-2011
31    Dec-2011
32    Dec-2011
33    Dec-2011
34    Dec-2011
35    Dec-2011
36    Dec-2011
37    Dec-2011
38    Dec-2011
39    Dec-2011
40    Dec-2011
41    Dec-2011
42    Dec-2011
43    Dec-2011
44    Dec-2011
45    Dec-2011
46    Dec-2011
47    Dec-2011
48    Dec-2011
49    Dec-2011
Name: issue_d, dtype: object

In [27]:
loan_data['issue_d'].unique()

array(['Dec-2011', 'Nov-2011', 'Oct-2011', 'Sep-2011', 'Aug-2011',
       'Jul-2011', 'Jun-2011', 'May-2011', 'Apr-2011', 'Mar-2011',
       'Feb-2011', 'Jan-2011', 'Dec-2010', 'Nov-2010', 'Oct-2010',
       'Sep-2010', 'Aug-2010', 'Jul-2010', 'Jun-2010', 'May-2010',
       'Apr-2010', 'Mar-2010', 'Feb-2010', 'Jan-2010', 'Dec-2009',
       'Nov-2009', 'Oct-2009', 'Sep-2009', 'Aug-2009', 'Jul-2009',
       'Jun-2009', 'May-2009', 'Apr-2009', 'Mar-2009', 'Feb-2009',
       'Jan-2009', 'Dec-2008', 'Nov-2008', 'Oct-2008', 'Sep-2008',
       'Aug-2008', 'Jul-2008', 'Jun-2008', 'May-2008', 'Apr-2008',
       'Mar-2008', 'Feb-2008', 'Jan-2008', 'Dec-2007', 'Nov-2007',
       'Oct-2007', 'Sep-2007', 'Aug-2007', 'Jul-2007', 'Jun-2007', nan,
       'Dec-2013', 'Nov-2013', 'Oct-2013', 'Sep-2013', 'Aug-2013',
       'Jul-2013', 'Jun-2013', 'May-2013', 'Apr-2013', 'Mar-2013',
       'Feb-2013', 'Jan-2013', 'Dec-2012', 'Nov-2012', 'Oct-2012',
       'Sep-2012', 'Aug-2012', 'Jul-2012', 'Jun-2012', 'May-2012',
       'Apr-2012', 'Mar-2012', 'Feb-2012', 'Jan-2012', 'Sep-2017',
       'Aug-2017', 'Jul-2017', 'Dec-2017', 'Nov-2017', 'Oct-2017',
       'Mar-2018', 'Feb-2018', 'Jan-2018', 'Jun-2018', 'May-2018',
       'Apr-2018', 'Sep-2018', 'Aug-2018', 'Jul-2018', 'Dec-2018',
       'Nov-2018', 'Oct-2018', 'Mar-2019', 'Feb-2019', 'Jan-2019',
       'Jun-2019', 'May-2019', 'Apr-2019', 'Sep-2019', 'Aug-2019',
       'Jul-2019', 'Dec-2019', 'Nov-2019', 'Oct-2019', 'Dec-2014',
       'Nov-2014', 'Oct-2014', 'Sep-2014', 'Aug-2014', 'Jul-2014',
       'Jun-2014', 'May-2014', 'Apr-2014', 'Mar-2014', 'Feb-2014',
       'Jan-2014', 'Mar-2020', 'Feb-2020', 'Jan-2020', 'Jun-2020',
       'May-2020', 'Apr-2020', 'Sep-2020', 'Aug-2020', 'Jul-2020',
       'Dec-2015', 'Nov-2015', 'Oct-2015', 'Sep-2015', 'Aug-2015',
       'Jul-2015', 'Jun-2015', 'May-2015', 'Apr-2015', 'Mar-2015',
       'Feb-2015', 'Jan-2015', 'Mar-2016', 'Feb-2016', 'Jan-2016',
       'Jun-2016', 'May-2016', 'Apr-2016', 'Sep-2016', 'Aug-2016',
       'Jul-2016', 'Dec-2016', 'Nov-2016', 'Oct-2016', 'Mar-2017',
       'Feb-2017', 'Jan-2017', 'Jun-2017', 'May-2017', 'Apr-2017'],
      dtype=object)

In [28]:
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format='%b-%Y')
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2021-10-01') - loan_data['issue_d_date']) / np.timedelta64(1, 'M')))
loan_data['mths_since_issue_d'].describe()

<ipython-input-28-4a22655f7244>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format='%b-%Y')
<ipython-input-28-4a22655f7244>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2021-10-01') - loan_data['issue_d_date']) / np.timedelta64(1, 'M')))

count   2925492.00000
mean         55.98032
std          25.30080
min          13.00000
25%          35.00000
50%          53.00000
75%          73.00000
max         172.00000
Name: mths_since_issue_d, dtype: float64

In [29]:
loan_data_dummies = pd.get_dummies(loan_data[['grade', 'sub_grade', 'home_ownership', 'verification_status', 'loan_status', 'purpose', 'addr_state', 'initial_list_status']], prefix_sep=':')

In [30]:
loan_data = pd.concat([loan_data, loan_data_dummies], axis=1)
loan_data.columns.values

array(['emp_length', 'earliest_cr_line', 'term', 'issue_d', 'grade',
       'sub_grade', 'home_ownership', 'verification_status',
       'loan_status', 'purpose', 'addr_state', 'initial_list_status',
       'total_rev_hi_lim', 'funded_amnt', 'annual_inc', 'acc_now_delinq',
       'total_acc', 'pub_rec', 'open_acc', 'inq_last_6mths',
       'delinq_2yrs', 'int_rate', 'installment', 'mths_since_last_delinq',
       'dti', 'mths_since_last_record', 'emp_length_int',
       'earliest_cr_line_date', 'mths_since_earliest_cr_line', 'term_int',
       'issue_d_date', 'mths_since_issue_d', 'grade:A', 'grade:B',
       'grade:C', 'grade:D', 'grade:E', 'grade:F', 'grade:G',
       'sub_grade:A1', 'sub_grade:A2', 'sub_grade:A3', 'sub_grade:A4',
       'sub_grade:A5', 'sub_grade:B1', 'sub_grade:B2', 'sub_grade:B3',
       'sub_grade:B4', 'sub_grade:B5', 'sub_grade:C1', 'sub_grade:C2',
       'sub_grade:C3', 'sub_grade:C4', 'sub_grade:C5', 'sub_grade:D1',
       'sub_grade:D2', 'sub_grade:D3', 'sub_grade:D4', 'sub_grade:D5',
       'sub_grade:E1', 'sub_grade:E2', 'sub_grade:E3', 'sub_grade:E4',
       'sub_grade:E5', 'sub_grade:F1', 'sub_grade:F2', 'sub_grade:F3',
       'sub_grade:F4', 'sub_grade:F5', 'sub_grade:G1', 'sub_grade:G2',
       'sub_grade:G3', 'sub_grade:G4', 'sub_grade:G5',
       'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:NONE', 'home_ownership:OTHER',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Issued', 'loan_status:Late (16-30 days)',
       'loan_status:Late (31-120 days)', 'purpose:car',
       'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:ND', 'addr_state:NE', 'addr_state:NH', 'addr_state:NJ',
       'addr_state:NM', 'addr_state:NV', 'addr_state:NY', 'addr_state:OH',
       'addr_state:OK', 'addr_state:OR', 'addr_state:PA', 'addr_state:RI',
       'addr_state:SC', 'addr_state:SD', 'addr_state:TN', 'addr_state:TX',
       'addr_state:UT', 'addr_state:VA', 'addr_state:VT', 'addr_state:WA',
       'addr_state:WI', 'addr_state:WV', 'addr_state:WY',
       'initial_list_status:f', 'initial_list_status:w'], dtype=object)

### Filling in missing values

In [31]:
loan_data.isnull().sum()

emp_length                                                          205221
earliest_cr_line                                                        30
term                                                                     1
issue_d                                                                  1
grade                                                                    1
sub_grade                                                                1
home_ownership                                                           1
verification_status                                                      1
loan_status                                                              1
purpose                                                                  1
addr_state                                                               1
initial_list_status                                                      1
total_rev_hi_lim                                                     70277
funded_amnt                                                              1
annual_inc                                                               5
acc_now_delinq                                                          30
total_acc                                                               30
pub_rec                                                                 30
open_acc                                                                30
inq_last_6mths                                                          31
delinq_2yrs                                                             30
int_rate                                                                 1
installment                                                              1
mths_since_last_delinq                                             1536503
dti                                                                   3109
mths_since_last_record                                             2498045
emp_length_int                                                      205221
earliest_cr_line_date                                                   30
mths_since_earliest_cr_line                                             30
term_int                                                                 1
issue_d_date                                                             1
mths_since_issue_d                                                       1
grade:A                                                                  0
grade:B                                                                  0
grade:C                                                                  0
grade:D                                                                  0
grade:E                                                                  0
grade:F                                                                  0
grade:G                                                                  0
sub_grade:A1                                                             0
sub_grade:A2                                                             0
sub_grade:A3                                                             0
sub_grade:A4                                                             0
sub_grade:A5                                                             0
sub_grade:B1                                                             0
sub_grade:B2                                                             0
sub_grade:B3                                                             0
sub_grade:B4                                                             0
sub_grade:B5                                                             0
sub_grade:C1                                                             0
sub_grade:C2                                                             0
sub_grade:C3                                                             0
sub_grade:C4                                                             0
sub_grade:C5                                                             0
sub_grade:D1                                                             0
sub_grade:D2                                                             0
sub_grade:D3                                                             0
sub_grade:D4                                                             0
sub_grade:D5                                                             0
sub_grade:E1                                                             0
sub_grade:E2                                                             0
sub_grade:E3                                                             0
sub_grade:E4                                                             0
sub_grade:E5                                                             0
sub_grade:F1                                                             0
sub_grade:F2                                                             0
sub_grade:F3                                                             0
sub_grade:F4                                                             0
sub_grade:F5                                                             0
sub_grade:G1                                                             0
sub_grade:G2                                                             0
sub_grade:G3                                                             0
sub_grade:G4                                                             0
sub_grade:G5                                                             0
home_ownership:ANY                                                       0
home_ownership:MORTGAGE                                                  0
home_ownership:NONE                                                      0
home_ownership:OTHER                                                     0
home_ownership:OWN                                                       0
home_ownership:RENT                                                      0
verification_status:Not Verified                                         0
verification_status:Source Verified                                      0
verification_status:Verified                                             0
loan_status:Charged Off                                                  0
loan_status:Current                                                      0
loan_status:Default                                                      0
loan_status:Does not meet the credit policy. Status:Charged Off          0
loan_status:Does not meet the credit policy. Status:Fully Paid           0
loan_status:Fully Paid                                                   0
loan_status:In Grace Period                                              0
loan_status:Issued                                                       0
loan_status:Late (16-30 days)                                            0
loan_status:Late (31-120 days)                                           0
purpose:car                                                              0
purpose:credit_card                                                      0
purpose:debt_consolidation                                               0
purpose:educational                                                      0
purpose:home_improvement                                                 0
purpose:house                                                            0
purpose:major_purchase                                                   0
purpose:medical                                                          0
purpose:moving                                                           0
purpose:other                                                            0
purpose:renewable_energy                                                 0
purpose:small_business                                                   0
purpose:vacation                                                         0
purpose:wedding                                                          0
addr_state:AK                                                            0
addr_state:AL                                                            0
addr_state:AR                                                            0
addr_state:AZ                                                            0
addr_state:CA                                                            0
addr_state:CO                                                            0
addr_state:CT                                                            0
addr_state:DC                                                            0
addr_state:DE                                                            0
addr_state:FL                                                            0
addr_state:GA                                                            0
addr_state:HI                                                            0
addr_state:IA                                                            0
addr_state:ID                                                            0
addr_state:IL                                                            0
addr_state:IN                                                            0
addr_state:KS                                                            0
addr_state:KY                                                            0
addr_state:LA                                                            0
addr_state:MA                                                            0
addr_state:MD                                                            0
addr_state:ME                                                            0
addr_state:MI                                                            0
addr_state:MN                                                            0
addr_state:MO                                                            0
addr_state:MS                                                            0
addr_state:MT                                                            0
addr_state:NC                                                            0
addr_state:ND                                                            0
addr_state:NE                                                            0
addr_state:NH                                                            0
addr_state:NJ                                                            0
addr_state:NM                                                            0
addr_state:NV                                                            0
addr_state:NY                                                            0
addr_state:OH                                                            0
addr_state:OK                                                            0
addr_state:OR                                                            0
addr_state:PA                                                            0
addr_state:RI                                                            0
addr_state:SC                                                            0
addr_state:SD                                                            0
addr_state:TN                                                            0
addr_state:TX                                                            0
addr_state:UT                                                            0
addr_state:VA                                                            0
addr_state:VT                                                            0
addr_state:WA                                                            0
addr_state:WI                                                            0
addr_state:WV                                                            0
addr_state:WY                                                            0
initial_list_status:f                                                    0
initial_list_status:w                                                    0
dtype: int64

In [32]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace=True)

In [33]:
loan_data['total_rev_hi_lim'].isnull().sum()

1

In [34]:
a = loan_data[['total_rev_hi_lim', 'funded_amnt']]['total_rev_hi_lim'].isnull()

In [35]:
a.loc[a]

39786    True
Name: total_rev_hi_lim, dtype: bool

In [36]:
loan_data.drop(39786, axis=0, inplace=True)

In [37]:
loan_data['annual_inc'].isnull().sum()

4

In [38]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)

In [39]:
loan_data['mths_since_earliest_cr_line'].fillna(0, inplace=True)
loan_data['acc_now_delinq'].fillna(0, inplace=True)
loan_data['total_acc'].fillna(0, inplace=True)
loan_data['pub_rec'].fillna(0, inplace=True)
loan_data['open_acc'].fillna(0, inplace=True)
loan_data['inq_last_6mths'].fillna(0, inplace=True)
loan_data['delinq_2yrs'].fillna(0, inplace=True)
loan_data['emp_length_int'].fillna(0, inplace=True)

In [40]:
loan_data.to_csv('C:/Users/marcu/Desktop/Personal/365 Data Science/Credit risk modeling/Datasets/loan_data.csv')